* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

:root {
  --p-light-red: hsl(0, 100%, 67%);
  --p-orangey-yellow: hsl(39, 100%, 56%);
  --p-green-teal: hsl(166, 100%, 37%);
  --p-cobalt-blue: hsl(234, 85%, 45%);
  --g-bg-light-slate-blue: hsl(252, 100%, 67%);
  --g-bg-light-royal-blue: hsl(241, 81%, 54%);
  --g-cir-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --g-cir-persian-blue-circle: hsla(241, 72%, 46%, 0);
  --n-white: hsl(0, 0%, 100%);
  --n-pale-blue: hsl(221, 100%, 96%);
  --n-light-lavender: hsl(241, 100%, 89%);
  --n-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body p {
  font-size: 18px;
}
body .container {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 700px;
  box-shadow: 0 0px 15px 10px var(--n-pale-blue);
  border-radius: 25px;
}
body .container svg {
  height: 30px;
  width: 30px;
}
body .container .container-1, body .container .container-2 {
  padding: 25px;
  border-radius: 25px;
}
body .container .container-1-title, body .container .container-2-title, body .container .container-1-bottom-1 {
  font-size: 23px;
  font-weight: 700;
}
body .container .container-1-title, body .container .container-1-bottom-2 {
  color: var(--n-light-lavender);
}
body .container .container-1 {
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: linear-gradient(var(--g-bg-light-slate-blue), var(--g-bg-light-royal-blue));
}
body .container .container-1 .container-1-circle-outer {
  display: flex;
  justify-content: center;
}
body .container .container-1 .container-1-circle-outer .container-1-circle-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(var(--g-cir-violet-blue-circle), var(--g-cir-persian-blue-circle));
}
body .container .container-1 .container-1-circle-outer .container-1-circle-inner :nth-child(1) {
  font-size: 76px;
  color: var(--n-white);
  font-weight: 800;
}
body .container .container-1 .container-1-circle-outer .container-1-circle-inner :nth-child(2) {
  color: hsla(241, 100%, 89%, 0.755);
  font-weight: 600;
}
body .container .container-1 .container-1-bottom-1 {
  font-size: 35px;
  color: var(--n-white);
}
body .container .container-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--n-white);
}
body .container .container-2 .button-position, body .container .container-2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 55px;
  margin: 0 20px;
  border-radius: 50px;
  border: none;
}
body .container .container-2 button {
  cursor: pointer;
  background-color: var(--n-dark-gray-blue);
  color: var(--n-white);
  width: 100%;
}
body .container .container-2 button:active {
  filter: brightness(1.2);
}
body .container .container-2 button:hover {
  background: linear-gradient(var(--g-bg-light-slate-blue), var(--g-bg-light-royal-blue));
}
body .container .container-2 .container-2-stats-1, body .container .container-2 .container-2-stats-2, body .container .container-2 .container-2-stats-3, body .container .container-2 .container-2-stats-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-radius: 10px;
  padding: 0 15px;
  margin-bottom: 15px;
}
body .container .container-2 .container-2-stats-1 div, body .container .container-2 .container-2-stats-2 div, body .container .container-2 .container-2-stats-3 div, body .container .container-2 .container-2-stats-4 div {
  display: flex;
}
body .container .container-2 .container-2-stats-1 .spacing, body .container .container-2 .container-2-stats-1 svg, body .container .container-2 .container-2-stats-2 .spacing, body .container .container-2 .container-2-stats-2 svg, body .container .container-2 .container-2-stats-3 .spacing, body .container .container-2 .container-2-stats-3 svg, body .container .container-2 .container-2-stats-4 .spacing, body .container .container-2 .container-2-stats-4 svg {
  margin-right: 8px;
}
body .container .container-2 .container-2-stats-1 :nth-child(1), body .container .container-2 .container-2-stats-2 :nth-child(1), body .container .container-2 .container-2-stats-3 :nth-child(1), body .container .container-2 .container-2-stats-4 :nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .container-2 p {
  font-weight: 600;
}
body .container .container-2 .of-100 {
  color: rgb(149, 149, 149);
}
body .container .container-2 .container-2-stats-1 {
  background-color: hsla(0, 100%, 67%, 0.117);
}
body .container .container-2 .container-2-stats-1 :nth-child(1) p {
  color: var(--p-light-red);
}
body .container .container-2 .container-2-stats-2 {
  background-color: hsla(39, 100%, 56%, 0.117);
}
body .container .container-2 .container-2-stats-2 :nth-child(1) p {
  color: var(--p-orangey-yellow);
}
body .container .container-2 .container-2-stats-3 {
  background-color: hsla(166, 100%, 37%, 0.117);
}
body .container .container-2 .container-2-stats-3 :nth-child(1) p {
  color: var(--p-green-teal);
}
body .container .container-2 .container-2-stats-4 {
  background-color: hsla(234, 85%, 45%, 0.117);
}
body .container .container-2 .container-2-stats-4 :nth-child(1) p {
  color: var(--p-cobalt-blue);
}

@media only screen and (max-width: 700px) {
  body .container {
    height: 100%;
    width: 100%;
    box-shadow: none;
    flex-direction: column;
  }
  body .container .button-position {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
  }
  body .container .button-position button {
    height: 100px;
    width: 400px;
    font-size: 40px;
  }
  body .container .container-1, body .container .container-2 {
    height: 100%;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  body .container .container-1 svg, body .container .container-2 svg {
    height: 40px;
    width: 40px;
  }
  body .container .container-1 p, body .container .container-2 p {
    font-size: 30px;
  }
  body .container .container-1 .container-1-bottom-1, body .container .container-2 .container-1-bottom-1 {
    font-size: 50px;
  }
  body .container .container-1 .container-1-title, body .container .container-1 .container-2-title, body .container .container-2 .container-1-title, body .container .container-2 .container-2-title {
    font-size: 40px;
  }
}/*# sourceMappingURL=style.css.map */